@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body::before{
    display: block;
    content: '';
    height: 125px;
}

body{
    font-family: "Roboto", sans-serif;
}

.back-to-top {
    position: fixed;
    background-color: #025151;
    color: white;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}



/* colors */
.primary-color{
    background-color: #045D5D;
}

.cyan-color{
    background-color: #017e7e;
}
.info{
    background-color: #04c4c4;
}
.light-cyan{
    background-color: #edffff;
}

.cynan-lighter{
    background-color: #007c7c;
}
 
.cynan-lighter-font{
    color: #007c7c;
}


.grad {
    height: 81px;
   
    background:linear-gradient(-45deg,#04c4c4 50%, #007c7c 0),
    linear-gradient(#04c4c4 50%, #007c7c 0);
  }
  
.fontsize-6{
    font-size: 12px;
}
.fontsize-7{
    font-size: 13px;
    font-weight: 500;
}
.fontsize-8{
    font-size: 14px;
}
.fontsize-9{
    font-size: 15px;
    font-weight: bold;
}

/* button style  */
.header-border-btn{
    border: 1px solid rgb(148, 148, 148);
}
.header-border-btn:hover{
    border: 1px solid white;
}
.nav-link-btn{
    color: white;
    /* padding: 10px 28px 10px 28px; */
    border: 2px solid white; 
}





.nav-link-btn:hover{
    color:  #ffc107;
    border: 2px solid #ffc107;
}
.nav-link-bg{
    color: white;
}
.nav-link-bg:hover{
    color: #ffc107;
}



.navlink-align{
    padding: 10px 18px 10px 18px;
    letter-spacing: 1px;
}


.banner-bg-img{
    background-image: url(./Assets/asset\ 36.png);
    background-size: cover;
}

.banner-mid-content{
    border: 2px solid #fd5428;
    color: #fd5428;
    border-radius: 8px;
}

.total-vaccination-info{
    height: 87px;
    padding-top: 5px;
}

.arrow{
    font-size: 1.7rem;
    font-weight: 800;
    color: #045D5D;
    font-weight: bold;
}

.card-header{
    position: absolute;
    top: -18px;
    right: 50%;
    transform: translateX(50%);
    z-index: 11;
    background-color: #f8f9fa;
    border: 1px solid #045D5D;
    height: 30px;
    color: #007c7c;
    pointer-events: none;
    
}

.easy-step-card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.slot-booking-link a{
    text-decoration: none;
    font-weight: 700;
    color: #02aeae;
    font-size: 18px;
}

.slot-booking-active-link{
    color: #02aeae;; 
}
.slot-booking-active-link:hover{
    color: #017e7e; 
}

.slot-booking-btn{
    background-color: #007c7c;
    color: #edffff;
    border: none;
    
}

.primary-main-btn{
    color: #edffff;
    background-color: #007c7c;
    text-decoration: none;
    margin: 20px 30px 20px 30px;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    border: none;

}

.primary-main-bg{
    background-color: #edffff;
}

.vaccination-dashboard-btn{
    color: #007c7c; 
    border: 2px solid #007c7c;
    background-color: transparent;
    border-radius: 20px;
    text-decoration: none;
    margin: 20px 30px 20px 30px;
    padding: 10px 30px 10px 30px;
    font-weight: 600;
}

.partner-view-btn{
    background-color: #007c7c;
    color: #f8f9fa;
    border-radius: 22px;
    text-decoration: none;
    padding: 13px 55px 13px 55px;
    
}

.partner-register-btn{
    background-color: transparent;
    color: #007c7c;
    border: 2px solid #007c7c;
    text-decoration: none;
    border-radius: 22px;
    padding: 13px 30px 13px 30px;
    font-weight: 600;
}

.footer-titles{
    font-size: 15px;
    color: #99d9d9;
    text-decoration: underline;
    
}



.footer-content-list li {
    color: white;
    list-style: none;
    font-size: 14px;
    margin-bottom: 15px;
}
.footer-content-list li a{
    color: white;
    text-decoration: none;
    
}
.footer-content-list li a:hover{
    text-decoration: underline;
    
}

.terms-policy-link a{
    text-decoration: none;
}

.download-btn{
    background-color: transparent;
    color: #007c7c;
    border: 2px solid #007c7c;
    text-decoration: none;
    border-radius: 22px;
    padding: 12px 47px 12px 47px;
    font-weight: 600;
}

.fqa-bg-color{
    background-color: #f6f6f6;
}

.fqa-header-bg-color{
    background-color: #e9ffff;
    color: #007c7c;
}



.accordion{
    --bs-accordion-btn-bg: #f6f6f6;
    --bs-accordion-active-bg: #f6f6f6;
    --bs-accordion-btn-focus-box-shadow: none;
   
}

#my-map-canvas .text-marker .map-generator{
      max-width: 100%; max-height: 100%; background: none;
}



/* ............................media queary...........................  */

/* sm  */
@media (min-width:  500px) and (max-width: 748px) {
    .total-vaccination-info{
        height: 100px;
        
    }
    .view-more-btn{
        padding: 5px 20px 5px 20px;
        font-size: 12px;
    }
    .arrow{
        display: none;
    }
    .easy-step-card{
        width: 350px;
        
         
     }
    .easy-step-card-container{
       margin-bottom: 30px;
        width: fit-content;
    }

    .back-to-top{
        
    }

  }

/* md  */
@media (min-width:  748px) and (max-width: 980px) {

    
  }

/* lg  */
@media (min-width:  980px) and (max-width: 1238px) {
    .easy-step-card{
        height: 380px;
        
         
     }
   
  }

  /* xl */
@media (min-width:  1238px) and (max-width: 1478px) {
    .easy-step-card{
       height: 350px;
       
    
    }
   
  }






  